::-webkit-scrollbar{
  background-color: #0e0c16;
}
.chatList {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatList hr {
  border: none;
  height: 2px;
  background-color: #ddd;
  opacity: 0.1;
  border-radius: 5px;
  margin: 20px 0;
}

.chatList .title {
  font-weight: 600;
  font-size: 10px;
  margin-bottom: 10px;
}

.chatList .list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

}

.chatList a {
  padding: 10px;
  border-radius: 10px;
}

.chatList a:hover {
  background-color: #2c2937;
}

.chatList .upgrade {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.chatList .upgrade img {
  width: 24px;
  height: 24px;
}

.chatList .upgrade .texts {
  display: flex;
  flex-direction: column;
}

.chatList .upgrade .texts span:first-child {
  font-weight: 600;
}

.chatList .upgrade .texts span:last-child {
  color: #888;
}
